n8n-workflow/correctcolours-workflow-standard.json
{
  "name": "CorrectColours PDF Report Workflow (Standard)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "correctcolours-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "correctcolours-webhook-id"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "user-name",
              "name": "user.name",
              "value": "={{ $json.body?.name || $json.name || '' }}",
              "type": "string"
            },
            {
              "id": "user-email",
              "name": "user.email",
              "value": "={{ $json.body?.email || $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "user-country",
              "name": "user.country",
              "value": "={{ $json.body?.country || $json.country || '' }}",
              "type": "string"
            },
            {
              "id": "user-gender",
              "name": "user.gender",
              "value": "={{ $json.body?.gender || $json.gender || '' }}",
              "type": "string"
            },
            {
              "id": "images-front",
              "name": "images.front",
              "value": "={{ $json.body?.face_scan?.front || $json.face_scan?.front || '' }}",
              "type": "string"
            },
            {
              "id": "images-left",
              "name": "images.left",
              "value": "={{ $json.body?.face_scan?.left || $json.face_scan?.left || '' }}",
              "type": "string"
            },
            {
              "id": "images-right",
              "name": "images.right",
              "value": "={{ $json.body?.face_scan?.right || $json.face_scan?.right || '' }}",
              "type": "string"
            },
            {
              "id": "scan-status",
              "name": "scan_status",
              "value": "={{ $json.body?.scan_status || $json.scan_status || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-node",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-scan-status",
              "leftValue": "={{ $json.scan_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-name",
              "leftValue": "={{ $json.user.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-email",
              "leftValue": "={{ $json.user.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-gender",
              "leftValue": "={{ $json.user.gender }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-front",
              "leftValue": "={{ $json.images.front }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-left",
              "leftValue": "={{ $json.images.left }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-right",
              "leftValue": "={{ $json.images.right }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validation-node",
      "name": "Validation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "male",
              "output": 0
            },
            {
              "value": "female",
              "output": 1
            },
            {
              "value": "prefer_not_to_say",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 2,
        "options": {},
        "dataType": "string",
        "value": "={{ $json.user.gender }}"
      },
      "id": "gender-switch-node",
      "name": "Gender Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0,\n  \"max_tokens\": 4096,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional colour analyst specializing in personal colour analysis and hair colour harmony. Output ONLY valid JSON, no prose, no HTML.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the provided face scan images and generate a colour analysis report.\\n\\nUser Information:\\n- Name: {{ $json.user.name }}\\n- Gender: male\\n- Country: {{ $json.user.country }}\\n\\nFace Scan Images:\\n- Front: {{ $json.images.front }}\\n- Left: {{ $json.images.left }}\\n- Right: {{ $json.images.right }}\\n\\nHAIR COLOUR HARMONY ANALYSIS (MALE-SPECIFIC RULES):\\n- Analyze skin undertone (warm/cool/neutral) and facial contrast level\\n- Determine natural hair colour alignment with skin undertone\\n- Prioritise natural, professional, low-maintenance tones\\n- Avoid extreme contrast unless facial contrast strongly supports it\\n- Focus on colours that enhance facial balance near the face\\n- Recommend colours that complement undertone, not clash\\n- Avoid fashion-forward or extreme colours unless harmonious\\n\\nGenerate a STRICT JSON response with the following structure:\\n\\n{\\n  \\\"analysis\\\": {\\n    \\\"colours\\\": {\\n      \\\"core\\\": [\\n        { \\\"name\\\": \\\"colour_name\\\", \\\"hex\\\": \\\"#XXXXXX\\\" }\\n      ],\\n      \\\"avoid\\\": [\\n        { \\\"name\\\": \\\"colour_name\\\", \\\"hex\\\": \\\"#XXXXXX\\\" }\\n      ]\\n    },\\n    \\\"styling\\\": {\\n      \\\"necklines\\\": {\\n        \\\"recommended\\\": [\\\"neckline1\\\", \\\"neckline2\\\"],\\n        \\\"caution\\\": [\\\"neckline1\\\"]\\n      },\\n      \\\"fabric\\\": {\\n        \\\"recommended\\\": [\\\"fabric1\\\", \\\"fabric2\\\"],\\n        \\\"caution\\\": [\\\"fabric1\\\"]\\n      }\\n    },\\n    \\\"hair\\\": {\\n      \\\"natural_alignment\\\": \\\"Description of how natural hair colour aligns with skin undertone and whether it enhances or diminishes facial harmony\\\",\\n      \\\"undertone_alignment\\\": \\\"warm/cool/neutral - which undertone family the ideal hair colours should belong to\\\",\\n      \\\"recommended_colours\\\": [\\\"Natural brown shades\\\", \\\"Warm chestnut\\\", \\\"etc - specific harmonious hair colours\\\"],\\n      \\\"avoid_colours\\\": [\\\"Colours that clash with undertone or create imbalance\\\"],\\n      \\\"recommended_styles\\\": [\\\"style1\\\", \\\"style2\\\"]\\n    },\\n    \\\"summary\\\": {\\n      \\\"season\\\": \\\"season_name\\\",\\n      \\\"undertone\\\": \\\"warm/cool/neutral\\\",\\n      \\\"contrast_level\\\": \\\"high/medium/low\\\",\\n      \\\"description\\\": \\\"Brief summary paragraph\\\"\\n    }\\n  }\\n}\\n\\nIMPORTANT:\\n- The 'core' array MUST contain EXACTLY 14 colours\\n- Hair recommended_colours must be grounded in undertone harmony, not trends\\n- For male users, prioritise subtle, professional tones\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "analysis-male-node",
      "name": "Analysis - Male",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0,\n  \"max_tokens\": 4096,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional colour analyst specializing in personal colour analysis and hair colour harmony. Output ONLY valid JSON, no prose, no HTML.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the provided face scan images and generate a colour analysis report.\\n\\nUser Information:\\n- Name: {{ $json.user.name }}\\n- Gender: female\\n- Country: {{ $json.user.country }}\\n\\nFace Scan Images:\\n- Front: {{ $json.images.front }}\\n- Left: {{ $json.images.left }}\\n- Right: {{ $json.images.right }}\\n\\nHAIR COLOUR HARMONY ANALYSIS (FEMALE-SPECIFIC RULES):\\n- Analyze skin undertone (warm/cool/neutral) and facial contrast level\\n- Determine natural hair colour alignment with skin undertone\\n- Allow a wider but still harmonious palette than male recommendations\\n- Maintain undertone accuracy over trend-based suggestions\\n- Focus on colours that enhance facial balance near the face\\n- Recommend colours that complement undertone, not clash\\n- Avoid suggesting extreme or fashion-only colours unless clearly harmonious with facial features\\n- Consider highlights and lowlights that work with undertone\\n\\nGenerate a STRICT JSON response with the following structure:\\n\\n{\\n  \\\"analysis\\\": {\\n    \\\"colours\\\": {\\n      \\\"core\\\": [\\n        { \\\"name\\\": \\\"colour_name\\\", \\\"hex\\\": \\\"#XXXXXX\\\" }\\n      ],\\n      \\\"avoid\\\": [\\n        { \\\"name\\\": \\\"colour_name\\\", \\\"hex\\\": \\\"#XXXXXX\\\" }\\n      ]\\n    },\\n    \\\"styling\\\": {\\n      \\\"necklines\\\": {\\n        \\\"recommended\\\": [\\\"neckline1\\\", \\\"neckline2\\\"],\\n        \\\"caution\\\": [\\\"neckline1\\\"]\\n      },\\n      \\\"fabric\\\": {\\n        \\\"recommended\\\": [\\\"fabric1\\\", \\\"fabric2\\\"],\\n        \\\"caution\\\": [\\\"fabric1\\\"]\\n      }\\n    },\\n    \\\"hair\\\": {\\n      \\\"natural_alignment\\\": \\\"Description of how natural hair colour aligns with skin undertone and whether it enhances or diminishes facial harmony\\\",\\n      \\\"undertone_alignment\\\": \\\"warm/cool/neutral - which undertone family the ideal hair colours should belong to\\\",\\n      \\\"recommended_colours\\\": [\\\"Rich auburn\\\", \\\"Warm caramel highlights\\\", \\\"etc - specific harmonious hair colours with wider palette\\\"],\\n      \\\"avoid_colours\\\": [\\\"Colours that clash with undertone or create imbalance\\\"],\\n      \\\"recommended_styles\\\": [\\\"style1\\\", \\\"style2\\\"]\\n    },\\n    \\\"summary\\\": {\\n      \\\"season\\\": \\\"season_name\\\",\\n      \\\"undertone\\\": \\\"warm/cool/neutral\\\",\\n      \\\"contrast_level\\\": \\\"high/medium/low\\\",\\n      \\\"description\\\": \\\"Brief summary paragraph\\\"\\n    }\\n  }\\n}\\n\\nIMPORTANT:\\n- The 'core' array MUST contain EXACTLY 14 colours\\n- Hair recommended_colours must be grounded in undertone harmony, not trends\\n- For female users, allow wider palette but maintain undertone accuracy\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "analysis-female-node",
      "name": "Analysis - Female",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0,\n  \"max_tokens\": 4096,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional colour analyst specializing in personal colour analysis and hair colour harmony. Output ONLY valid JSON, no prose, no HTML.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the provided face scan images and generate a colour analysis report.\\n\\nUser Information:\\n- Name: {{ $json.user.name }}\\n- Gender: unspecified (prefer not to say)\\n- Country: {{ $json.user.country }}\\n\\nFace Scan Images:\\n- Front: {{ $json.images.front }}\\n- Left: {{ $json.images.left }}\\n- Right: {{ $json.images.right }}\\n\\nHAIR COLOUR HARMONY ANALYSIS (NEUTRAL/UNSPECIFIED GENDER RULES):\\n- Apply STRICT colour science with minimal stylistic bias\\n- Analyze skin undertone (warm/cool/neutral) and facial contrast level objectively\\n- Determine natural hair colour alignment with skin undertone\\n- Base all recommendations purely on colour theory and facial harmony\\n- Focus on colours that enhance facial balance near the face\\n- Recommend colours that complement undertone scientifically\\n- Do NOT apply gender-based styling assumptions\\n- Avoid fashion-forward or extreme colours unless colour science supports it\\n\\nGenerate a STRICT JSON response with the following structure:\\n\\n{\\n  \\\"analysis\\\": {\\n    \\\"colours\\\": {\\n      \\\"core\\\": [\\n        { \\\"name\\\": \\\"colour_name\\\", \\\"hex\\\": \\\"#XXXXXX\\\" }\\n      ],\\n      \\\"avoid\\\": [\\n        { \\\"name\\\": \\\"colour_name\\\", \\\"hex\\\": \\\"#XXXXXX\\\" }\\n      ]\\n    },\\n    \\\"styling\\\": {\\n      \\\"necklines\\\": {\\n        \\\"recommended\\\": [\\\"neckline1\\\", \\\"neckline2\\\"],\\n        \\\"caution\\\": [\\\"neckline1\\\"]\\n      },\\n      \\\"fabric\\\": {\\n        \\\"recommended\\\": [\\\"fabric1\\\", \\\"fabric2\\\"],\\n        \\\"caution\\\": [\\\"fabric1\\\"]\\n      }\\n    },\\n    \\\"hair\\\": {\\n      \\\"natural_alignment\\\": \\\"Description of how natural hair colour aligns with skin undertone and whether it enhances or diminishes facial harmony - based purely on colour science\\\",\\n      \\\"undertone_alignment\\\": \\\"warm/cool/neutral - which undertone family the ideal hair colours should belong to based on colour theory\\\",\\n      \\\"recommended_colours\\\": [\\\"Colours based strictly on undertone harmony and contrast theory\\\"],\\n      \\\"avoid_colours\\\": [\\\"Colours that clash with undertone or create imbalance per colour science\\\"],\\n      \\\"recommended_styles\\\": [\\\"style1\\\", \\\"style2\\\"]\\n    },\\n    \\\"summary\\\": {\\n      \\\"season\\\": \\\"season_name\\\",\\n      \\\"undertone\\\": \\\"warm/cool/neutral\\\",\\n      \\\"contrast_level\\\": \\\"high/medium/low\\\",\\n      \\\"description\\\": \\\"Brief summary paragraph\\\"\\n    }\\n  }\\n}\\n\\nIMPORTANT:\\n- The 'core' array MUST contain EXACTLY 14 colours\\n- Hair analysis must be grounded in strict colour science only\\n- Apply NO stylistic or gender-based bias\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "analysis-neutral-node",
      "name": "Analysis - Neutral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Header"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-node",
      "name": "Merge Analysis",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PDF_TEMPLATE_URL || 'https://raw.githubusercontent.com/YOUR_ORG/correctcolours/main/templates/report-template.html' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-html-node",
      "name": "Fetch HTML Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get input items\nconst items = $input.all();\nconst htmlResponse = items[0].json;\n\n// Get HTML template (handle different response formats)\nlet htmlTemplate = '';\nif (typeof htmlResponse === 'string') {\n  htmlTemplate = htmlResponse;\n} else if (htmlResponse.data) {\n  htmlTemplate = htmlResponse.data;\n} else if (htmlResponse.body) {\n  htmlTemplate = htmlResponse.body;\n} else {\n  htmlTemplate = JSON.stringify(htmlResponse);\n}\n\n// Get user data from Normalize Data node\nconst userData = $('Normalize Data').first().json;\n\n// Get analysis from Merge node\nconst mergeData = $('Merge Analysis').first().json;\n\n// Parse analysis result from OpenAI response\nlet analysis = {};\ntry {\n  let content = '';\n  if (mergeData.choices && mergeData.choices[0] && mergeData.choices[0].message) {\n    content = mergeData.choices[0].message.content;\n  } else if (mergeData.analysis) {\n    analysis = mergeData;\n  } else {\n    content = JSON.stringify(mergeData);\n  }\n  \n  if (content && typeof content === 'string') {\n    analysis = JSON.parse(content);\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n  analysis = mergeData;\n}\n\nconst analysisData = analysis.analysis || analysis;\n\n// Start placeholder replacement\nlet html = htmlTemplate;\n\n// Replace user placeholders\nhtml = html.replace(/\\{\\{USER_NAME\\}\\}/g, userData.user?.name || '');\nhtml = html.replace(/\\{\\{USER_EMAIL\\}\\}/g, userData.user?.email || '');\nhtml = html.replace(/\\{\\{USER_COUNTRY\\}\\}/g, userData.user?.country || '');\nhtml = html.replace(/\\{\\{USER_GENDER\\}\\}/g, userData.user?.gender || '');\n\n// Replace core colours (EXACTLY 14)\nif (analysisData.colours && analysisData.colours.core) {\n  for (let i = 0; i < 14; i++) {\n    const colour = analysisData.colours.core[i] || { name: '', hex: '' };\n    const namePattern = new RegExp(`\\\\{\\\\{analysis\\\\.colours\\\\.core\\\\[${i}\\\\]\\\\.name\\\\}\\\\}`, 'g');\n    const hexPattern = new RegExp(`\\\\{\\\\{analysis\\\\.colours\\\\.core\\\\[${i}\\\\]\\\\.hex\\\\}\\\\}`, 'g');\n    html = html.replace(namePattern, colour.name || '');\n    html = html.replace(hexPattern, colour.hex || '');\n  }\n}\n\n// Replace avoid colours\nif (analysisData.colours && analysisData.colours.avoid) {\n  for (let i = 0; i < analysisData.colours.avoid.length; i++) {\n    const colour = analysisData.colours.avoid[i] || { name: '', hex: '' };\n    const namePattern = new RegExp(`\\\\{\\\\{analysis\\\\.colours\\\\.avoid\\\\[${i}\\\\]\\\\.name\\\\}\\\\}`, 'g');\n    const hexPattern = new RegExp(`\\\\{\\\\{analysis\\\\.colours\\\\.avoid\\\\[${i}\\\\]\\\\.hex\\\\}\\\\}`, 'g');\n    html = html.replace(namePattern, colour.name || '');\n    html = html.replace(hexPattern, colour.hex || '');\n  }\n}\n\n// Replace necklines\nif (analysisData.styling && analysisData.styling.necklines) {\n  const necklines = analysisData.styling.necklines;\n  if (necklines.recommended) {\n    for (let i = 0; i < necklines.recommended.length; i++) {\n      const pattern = new RegExp(`\\\\{\\\\{analysis\\\\.styling\\\\.necklines\\\\.recommended\\\\[${i}\\\\]\\\\}\\\\}`, 'g');\n      html = html.replace(pattern, necklines.recommended[i] || '');\n    }\n  }\n  if (necklines.caution) {\n    for (let i = 0; i < necklines.caution.length; i++) {\n      const pattern = new RegExp(`\\\\{\\\\{analysis\\\\.styling\\\\.necklines\\\\.caution\\\\[${i}\\\\]\\\\}\\\\}`, 'g');\n      html = html.replace(pattern, necklines.caution[i] || '');\n    }\n  }\n}\n\n// Replace fabric\nif (analysisData.styling && analysisData.styling.fabric) {\n  const fabric = analysisData.styling.fabric;\n  if (fabric.recommended) {\n    for (let i = 0; i < fabric.recommended.length; i++) {\n      const pattern = new RegExp(`\\\\{\\\\{analysis\\\\.styling\\\\.fabric\\\\.recommended\\\\[${i}\\\\]\\\\}\\\\}`, 'g');\n      html = html.replace(pattern, fabric.recommended[i] || '');\n    }\n  }\n  if (fabric.caution) {\n    for (let i = 0; i < fabric.caution.length; i++) {\n      const pattern = new RegExp(`\\\\{\\\\{analysis\\\\.styling\\\\.fabric\\\\.caution\\\\[${i}\\\\]\\\\}\\\\}`, 'g');\n      html = html.replace(pattern, fabric.caution[i] || '');\n    }\n  }\n}\n\n// Replace hair\nif (analysisData.hair) {\n  if (analysisData.hair.recommended_colors) {\n    for (let i = 0; i < analysisData.hair.recommended_colors.length; i++) {\n      const pattern = new RegExp(`\\\\{\\\\{analysis\\\\.hair\\\\.recommended_colors\\\\[${i}\\\\]\\\\}\\\\}`, 'g');\n      html = html.replace(pattern, analysisData.hair.recommended_colors[i] || '');\n    }\n  }\n  if (analysisData.hair.recommended_styles) {\n    for (let i = 0; i < analysisData.hair.recommended_styles.length; i++) {\n      const pattern = new RegExp(`\\\\{\\\\{analysis\\\\.hair\\\\.recommended_styles\\\\[${i}\\\\]\\\\}\\\\}`, 'g');\n      html = html.replace(pattern, analysisData.hair.recommended_styles[i] || '');\n    }\n  }\n}\n\n// Replace summary\nif (analysisData.summary) {\n  html = html.replace(/\\{\\{analysis\\.summary\\.season\\}\\}/g, analysisData.summary.season || '');\n  html = html.replace(/\\{\\{analysis\\.summary\\.undertone\\}\\}/g, analysisData.summary.undertone || '');\n  html = html.replace(/\\{\\{analysis\\.summary\\.contrast_level\\}\\}/g, analysisData.summary.contrast_level || '');\n  html = html.replace(/\\{\\{analysis\\.summary\\.description\\}\\}/g, analysisData.summary.description || '');\n}\n\n// Return processed HTML and user data for email\nreturn [\n  {\n    json: {\n      html: html,\n      user: userData.user,\n      analysis: analysisData\n    }\n  }\n];"
      },
      "id": "inject-data-node",
      "name": "Inject Data into HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BROWSERLESS_URL || 'https://chrome.browserless.io/pdf' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"options\": {\n    \"format\": \"A4\",\n    \"printBackground\": true,\n    \"preferCSSPageSize\": true,\n    \"displayHeaderFooter\": false,\n    \"margin\": {\n      \"top\": \"0\",\n      \"right\": \"0\",\n      \"bottom\": \"0\",\n      \"left\": \"0\"\n    }\n  },\n  \"gotoOptions\": {\n    \"waitUntil\": \"networkidle0\",\n    \"timeout\": 60000\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          },
          "timeout": 120000
        }
      },
      "id": "render-pdf-node",
      "name": "Render PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BROWSERLESS_CREDENTIAL_ID",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL || 'reports@correctcolours.com' }}",
        "toEmail": "={{ $('Normalize Data').first().json.user.email }}",
        "subject": "Your CorrectColours Report",
        "emailType": "text",
        "message": "Dear {{ $('Normalize Data').first().json.user.name }},\n\nThank you for using CorrectColours. Please find your personalised colour analysis report attached.\n\nYour report includes:\n- Your 14 core palette colours\n- Styling recommendations\n- Hair colour and style suggestions\n- Colours to avoid\n\nWe hope you enjoy discovering your perfect colours!\n\nBest regards,\nThe CorrectColours Team",
        "options": {
          "attachments": "pdf"
        }
      },
      "id": "send-email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2230, 300],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Report sent to {{ $('Normalize Data').first().json.user.email }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Validation failed. Ensure all required fields are provided and scan_status is approved.\"\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "validation-failed-node",
      "name": "Validation Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 480]
    },
    {
      "parameters": {},
      "id": "error-trigger-node",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL || 'reports@correctcolours.com' }}",
        "toEmail": "={{ $json.execution?.customData?.user?.email || 'support@correctcolours.com' }}",
        "subject": "Your CorrectColours Report - Processing",
        "emailType": "text",
        "message": "Dear Customer,\n\nWe're finishing your CorrectColours report and will send it shortly.\n\nThank you for your patience.\n\nBest regards,\nThe CorrectColours Team",
        "options": {}
      },
      "id": "error-email-node",
      "name": "Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [470, 600],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-data",
              "name": "error",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error-node",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Check": {
      "main": [
        [
          {
            "node": "Gender Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gender Switch": {
      "main": [
        [
          {
            "node": "Analysis - Male",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analysis - Female",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analysis - Neutral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis - Male": {
      "main": [
        [
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis - Female": {
      "main": [
        [
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis - Neutral": {
      "main": [
        [
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Analysis": {
      "main": [
        [
          {
            "node": "Fetch HTML Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HTML Template": {
      "main": [
        [
          {
            "node": "Inject Data into HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Data into HTML": {
      "main": [
        [
          {
            "node": "Render PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Email": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "CorrectColours",
      "id": "tag-correctcolours"
    },
    {
      "name": "PDF",
      "id": "tag-pdf"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-01T00:00:00.000Z",
  "versionId": "1"
}
